    <ul id="slide-out" class="sidenav">
      <li>
          <div class="user-view">
              <div class="background">
                  <img src="../assets/images/usr_bgr.jpg" alt="Usuario"/>
              </div>
              <span class="name">William Juarez</span>
              <span class="email">wgbila@gmail.com</span>      
          </div>
      </li>
      <li><a href="#"><i class="material-icons">mail</i>Opci&oacute;n 1</a></li>
      <li><a href="#"><i class="material-icons">event_available</i>Opci&oacute;n 2</a></li>
      <li><a href="#"><i class="material-icons">insert_chart</i>Opci&oacute;n 3</a></li>
      <li><a href="#"><i class="material-icons">local_offer</i>Opci&oacute;n 4</a></li>
      <li><div class="divider"></div></li>
      <li><a href="#"><i class="material-icons">location_on</i>Opci&oacute;n 5</a></li>
      <li><a href="#"><i class="material-icons">mode_comment</i>Opci&oacute;n 6</a></li>
      <li><a href="#"><i class="material-icons">new_releases</i>Opci&oacute;n 7</a></li>
      <li><a href="#"><i class="material-icons">person</i>Opci&oacute;n 8</a></li>
    </ul>

    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
            alert("Entramos al sidenav en sideComponent");
        });
    </script>