<form [formGroup]="solicitudTaller">
  <p-growl [value]="msgs" sticky="sticky"></p-growl>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

          <div class="input-field" style="text-align: left;" >
            <!-- <label for="codigoSol">Codigo</label> -->
              <input type="text" id="codigoSol" formControlName="codigoSol" class="validate" required disabled/>
             
          </div>

          <!-- DATOS PERSONALES-->
          <h4>Datos personales</h4>
          <div class="input-field">
            <!-- <label for="nombre">Nombre</label> -->
              <input type="text" id="name" formControlName="nombre" class="validate" required disabled/>
              
          </div>
          
          <!-- DATOS DEL VEHICULOS -->
          <div>
              <h4>Datos del vehiculo</h4>
              <div class="input-field" style="display:inline-block;padding: 20px;">
                <input type="text" id="marca" formControlName="marca" class="validate" required disabled/>
                  <label for="marca">Marca</label><br/><br/>
              </div>

              <div class="input-field" style="display:inline-block;padding: 20px;">
                  <label for="modelo">Modelo</label><br/><br/>
                  <input type="text" id="modelo" formControlName="modelo" class="validate" required disabled/>
              </div>

              <div class="input-field" style="display:inline-block;padding: 20px;">
                  <label for="anho">Anho</label><br/><br/>
                  <input type="text" id="anho" formControlName="anho" class="validate" required disabled/>
              </div>

              <div class="input-field" style="display:inline-block;padding: 20px;">
                  <label for="tipoV">Tipo de vehiculo</label><br/><br/>
                  <input type="text" id="tipoV" formControlName="tipoV" class="validate" required disabled/>
              </div>
          </div>
          <div>
              <div class="input-field" style="display:inline-block;padding: 20px;">
                  <label for="placa">Placa</label><br/><br/>
                  <input type="text" id="placa" formControlName="placa" class="validate" required disabled/>
              </div>
              <div class="input-field" style="display:inline-block;padding: 20px;">
                  <label for="chasis">N° de chasis</label><br/><br/>
                  <input type="text" id="chasis" formControlName="chasis" class="validate" required disabled/>
              </div>
              <div class="input-field" style="display:inline-block;padding: 20px;">
                  <label for="motor">N° de motor</label><br/><br/>
                  <input type="text" id="motor" formControlName="motor" class="validate" required disabled/>
              </div>
          </div>

          <div>
              <div class="input-field" style="display:inline-block;padding: 20px;">
                  <label for="siniestro">N° Siniestro</label><br/><br/>
                  <input type="text" id="siniestro" formControlName="siniestro" class="validate" required disabled/>
              </div>
              <div class="input-field" style="display:inline-block;padding: 20px;">
                  <label for="poliza">Poliza</label><br/><br/>
                  <input type="text" id="poliza" formControlName="poliza" class="validate" required disabled/>
              </div>
              <div class="input-field" style="display:inline-block;padding: 20px;">
                  <label for="aseguradora">Aseguradora</label><br/><br/>
                  <input type="text" id="aseguradora" formControlName="aseguradora" class="validate" required disabled/>
              </div>
              <div class="input-field" style="display:inline-block;padding: 20px;">
                  <label for="tiempo">Tiempo</label><br/><br/>
                  <input type="text" id="tiempo" formControlName="tiempo" class="validate" required disabled/>
              </div>
          </div>
          <div>
              <div class="input-field" style="display:inline-block;padding: 20px;">
                  <label for="repuestos">Repuestos</label><br/><br/>
                  <input type="text" id="repuestos" formControlName="repuestos" class="validate" required disabled/>
              </div>
              <div class="input-field" style="display:inline-block;padding: 20px;">
                  <label for="cantidadRep">Cantidad</label><br/><br/>
                  <input type="text" id="cantidadRep" formControlName="cantidadRep" class="validate" required disabled/>
              </div>

          </div>
          <div>
              <div class="input-field" style="display:inline-block;padding: 20px;">
                  <label for="comentarios">Comentarios</label><br/><br/>
                  <input type="text" id="comentarios" formControlName="comentarios" class="validate" required disabled/>
              </div>
          </div>
      </div>   
</form>